In [48]:
import psycopg2

In [49]:
# conn = psycopg2.connect("dbname=panthers user=trishataylor host=/tmp/")

# cur = conn.cursor()

# create_table = ("CREATE TABLE roster(id serial PRIMARY KEY NOT NULL, "
#                 "jersey INT, "
#                 "name TEXT NOT NULL, "
#                 "age INT, "
#                 "pos TEXT, "
#                 "games_played INT, "
#                 "games_started INT, "
#                 "weight INT, "
#                 "height varchar, "
#                 "college TEXT, "
#                 "bday date,"
#                 "years_in_NFL varchar, "
#                 "value INT, "
#                 "drafted TEXT, "
#                 "salary varchar );")

# cur.execute(create_table)

# cur.execute("COPY roster(jersey, name, age, pos, games_played, " +
#             "games_started, weight, height, college, bday, years_in_NFL, " +
#             "value, drafted, salary) FROM " +
#             "'/Users/trishataylor/Documents/week6/homework/sports_search/roster.csv' " +
#             "DELIMITER',' CSV")

In [50]:
# cur.execute('SELECT * FROM roster')
# cur.fetchall()

In [51]:
import csv
import psycopg2

In [52]:
conn = psycopg2.connect("dbname=panthers user=trishataylor host=/tmp/")

cur = conn.cursor()

cur.execute("CREATE TABLE roster (jersey INT, name TEXT NOT NULL, age INT, pos TEXT, games_played INT, games_started INT, weight INT, height varchar, college TEXT, bday date, years_in_NFL varchar, value INT, drafted TEXT, salary varchar);")

with open('roster.csv') as file:
    players = csv.reader(file, delimiter=',')
    for row in players:
        r = [row[column] for column in range(14)]
        cur.execute("INSERT INTO roster (jersey, name, age, pos, games_played, games_started, weight, height, college, bday, years_in_NFL, value, drafted, salary) VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s)", r)

In [53]:
cur.execute('SELECT * FROM roster')
cur.fetchone()

(97,
 'Mario Addison',
 28,
 '',
 14,
 0,
 239,
 '6-2',
 'Troy',
 datetime.date(1987, 9, 6),
 '4',
 2,
 '',
 '$1020000')

In [54]:
import argparse

In [58]:
def search_players():
    search = input("Search for a player: ").lower()
    cur.execute("SELECT * FROM roster WHERE name like %search%")